{{!< layouts/default}}
<div id="barcode" data-default="{{location}}" class="mw-100">
	<canvas></canvas>
</div>
<form>
	<label for="input">
		<input type="text" name="input" id="input" autofocus="autofocus" placeholder="{{location}}" class="tc">
	</label>
</form>
<p>
	<em>
		<a href="/help">What is this?</a>
	</em>
</p>
